/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap");
* {
  margin: 0;
  /* border: 1px solid; */
}

html,
body {
  height: 100%;
}

/* out of the scope, guys! */
.custom-toast {
  background-color: #844caf !important;
  font-size: 20px !important;
  color: azure !important;
  border: 0 !important;
  font-weight: 700 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  height: 50px !important;
}

.nb-theme-default
  nb-layout
  .layout
  .layout-container
  .content
  .columns
  nb-layout-column {
  padding: 0 !important;
}

/* !importnant override existing or nebular's default style */
