<div class="home">
  <div class="container">
    <div id="playground"></div>
    <div class="welcome-container" *ngIf="activeContainer === 'welcome'">
      <div class="text">{{ welcomeText }}</div>
      <div class="field-input">
        <input
          id="name-ip"
          type="text"
          nbInput
          fullWidth
          [status]="this.inputStatus"
          placeholder="name"
          [(ngModel)]="name"
          [disabled]="hideInput"
        />
        <button
          nbButton
          size="medium"
          (click)="registerName()"
          [disabled]="hideButton"
        >
          Begin
        </button>
      </div>
    </div>
    <div class="chat-container" *ngIf="activeContainer !== 'welcome'">
      <div class="chat-info">
        <p>
          Welcome {{ this.name }}, here's your lobby, be gentle with your people
        </p>
      </div>
      <input
        id="chat-field"
        type="text"
        nbInput
        fullWidth
        status="info"
        placeholder="Info"
      />
    </div>
    <!-- <div class="options"> -->
    <!-- <div class="orbit">
        <p>Orbitting :</p>
        <label class="toggle-switch square">
          <input
            type="checkbox"
            [ngModel]="isOrbit"
            (ngModelChange)="enableOrbit($event)"
          />
          <span class="slider"></span>
        </label>
      </div>
      <br />
      <div class="keyboard-Control">
        <p>key-Opt :</p>
        <label class="toggle-switch square">
          <input
            type="checkbox"
            [ngModel]="isKeyOpt"
            (ngModelChange)="enableKeyOpt($event)"
          />
          <span class="slider"></span>
        </label>
      </div>
      <br />
      <div class="reset">
        <p>Reset :</p>
        <input
          class="reset-button"
          type="button"
          value="Reset"
          (click)="reset()"
        />
      </div>
      <div class="reset">
        <p>toast :</p>
        <input
          class="reset-button"
          type="button"
          value="toast"
          (click)="toastMessage('Here we go..')"
        />
      </div> -->
    <!-- </div> -->
  </div>
</div>
