.home {
  /* background-color: black; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#playground {
  height: 85%;
  width: 85%;
  /* background-color: white; */
}
