<div class="home">
  <div class="container">
    <div id="playground"></div>
    <div class="options">
      <div class="orbit">
        <p>Orbitting :</p>
        <label class="toggle-switch square">
          <input type="checkbox" [ngModel]="isOrbit" (ngModelChange)="enableOrbit($event)" />
          <span class="slider"></span>
        </label>
      </div>
      <br />
      <div class="keyboard-Control">
        <p>key-Opt :</p>
        <label class="toggle-switch square">
          <input type="checkbox" [ngModel]="isKeyOpt" (ngModelChange)="enableKeyOpt($event)" />
          <span class="slider"></span>
        </label>
      </div>
      <br />
      <div class="reset">
        <p>Reset :</p>
        <input class="reset-button" type="button" value="Reset" (click)="reset()" />
      </div>
    </div>
  </div>
</div>
